*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
form{
  display: flex;
    flex-direction: column;
    width: 50%;
    flex: 1;
    margin: auto;
    gap: 12px;
    margin-top: 30px;
  }
